.testimonials {
  display: flex;
  flex-direction: column;
  gap: 85px;

  @include on-tablet {
    padding-left: 0;
    padding-right: 0;
    padding-top: 148px;
    margin-left: 41px;
    margin-right: 41px;
    margin-bottom: 148px;
  }

  @include on-small-desktop {
    margin-left: 54px;
    margin-right: 54px;
    padding-top: 260px;
    margin-bottom: 148px;
  }

  @include on-desktop {
    margin-left: 54px;
    margin-right: 54px;
    margin-bottom: 148px;
  }

  @include on-small-desktop {
    margin-left: 118px;
    margin-right: 118px;
    margin-bottom: 148px;
  }

  @include on-the-design {
    margin-left: 227px;
    margin-right: 227px;
    margin-bottom: 148px;
  }

  @include on-large-screens {
    margin-left: 707px;
    margin-right: 707px;
    margin-bottom: 148px;
  }

  &--header {
    max-width: 190px;
    margin-bottom: 85px;
  }

  &--subtitle {
    padding-bottom: 16px;
    text-align: left;
  }

  &--title {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    color: #253757;
    margin-bottom: 16px;
  }

  &--cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    @include on-tablet {
      gap: 20px;
    }

    @include on-small-desktop {
      gap: 20px;
    }

    @include on-desktop {
      column-gap: 30px;
    }
  }

  &--card {
    padding: 32px 56px;
    background-color: #fff;
    box-shadow: 0 9 18 0 #25293108;
    border-radius: 16px;
    gap: 16px;
    width: 362px;
    height: 494px;
    transition: transform 0.3s;

    @include on-tablet {
      height: 478px;
      padding-inline: 98px;
    }

    @include on-small-desktop {
      height: 456px;
      padding-inline: 48px;
    }

    @include on-the-design {
      height: 494px;
      padding-inline: 56px;
    }

    &:hover {
      transform: scale(1.09);
    }
  }

  &--img {
    display: block;

    margin: auto;
    align-items: center;
    justify-content: center;
  }

  &--quotes {
    width: 20.58px;
    height: 18.48px;
    display: block;
    margin: auto;
    margin-top: 24px;
    margin-bottom: 8px;
  }

  &--feedback {
    font-family: Poppins, sans-serif;
    text-align: center;
    color: #6c788b;
  }

  &--name {
    font-family: Poppins, sans-serif;
    color: #253757;
    text-align: center;
    margin-bottom: 4px;
  }
}

.card--subtitle {
  font-family: Poppins, sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
  color: #c0cdd7;
}
